@import url('https:fonts.googleapis.com/css?family=Carattere');
.home {
    background-image: linear-gradient(rgb(33,33,33), rgb(40,55,135));
    color: white;
}
.card {
    color: black;
}
.listPanel{
    background-color: rgb(40,55,135);
    color: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Carattere', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background {
  height: 100vh;
  /*width:  100%;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
}
.banner {
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.moto {
  font-size: 10px;
  font-style: italic;
}
.jumbotron {
    background: rgba(204, 204, 204, 0.5);
}